{{ $mount := .Mount }}
{{ $page := .Page }}
<nav class="docs-nav">
  {{ range $mount.Nav }}
    {{ if .IsSection }}
      <section class="nav-group">
        <h2>{{ .Title }}</h2>
        <ul>
          {{ range .Children }}
            <li><a class="{{ if eq .Url $page.RelPermalink }}active{{ end }}" href="{{ .Url }}">{{ .Title }}</a></li>
          {{ end }}
        </ul>
      </section>
    {{ else }}
      <a class="nav-root-link {{ if eq .Url $page.RelPermalink }}active{{ end }}" href="{{ .Url }}">{{ .Title }}</a>
    {{ end }}
  {{ end }}
</nav>
